[Unit]
Description=VPS Backup multi-perfis (Postgres + configs)
After=postgresql.service

[Service]
Type=oneshot
User=ubuntu
ExecStart=/usr/bin/python3 /home/ubuntu/vps-admin/backup_pg.py
