[Unit]
Description=VPS Backup inteligente (script decide pela config; roda toda hora)

[Timer]
OnCalendar=*-*-* *:30:00
Persistent=true

[Install]
WantedBy=timers.target
